---
const { title, description, keywords, url, image_url } = Astro.props;
const isProduction = import.meta.env.PROD;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- SEO Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image_url} />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image_url} />

    <!-- Additional Meta Tags -->
    <link rel="canonical" href={url} />
  </head>
  <body class="bg-black">
    <main class="h-screen">
      <slot />
    </main>
    <footer class="p-4 bg-white bg-opacity-5">
      <p class="text-center text-white text-opacity-50 text-xs tracking-widest font-extralight">
        © {new Date().getFullYear()} KING DEVELOPMENT
      </p>
    </footer>
  </body>
</html>

{isProduction && (
  <script>
    import { initializeApp } from "firebase/app";
    import { getAnalytics } from "firebase/analytics";

    const firebaseConfig = {
      apiKey: "AIzaSyBT_X1pg8MGQ1YuGUnqXbShhTnJjzZ_2HU",
      authDomain: "king-dev-e58b6.firebaseapp.com",
      projectId: "king-dev-e58b6",
      storageBucket: "king-dev-e58b6.appspot.com",
      messagingSenderId: "539702132262",
      appId: "1:539702132262:web:ea89e1a879da5037f0f0e7",
      measurementId: "G-BGT018J52R",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
)}
